#assign_time_slots label {
 float: left;
 display: block;
 position: relative;
 top: 5px;
 }

#week-days {
width: 100%;
display: block;
float: left;
text-align: center;
font-size: 1.25em;
font-weight: 400;
}

#week-days label{
float: left;
margin: 10px;
}

#overlay, .overlay {
z-index: 1000;
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 100%;
background: #FFF;
opacity: 0.45;
-moz-opacity: 0.45;
filter: alpha(opacity=45);
display: none;
}

.defined-dates {
border: 1px solid #C0C0C0;
border-radius: 3px;
width: 350px;
padding: 5px;
margin: 5px;
}

.defined-dates div {
margin: 5px;
}
.lone-date {
margin: 5px 10px;
padding: 5px;
}

.preloader {
display: block;
width: 98px;
height: 98px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -20px;
margin-left: -20px;
background: url('../images/maintenance.gif') no-repeat center;
}

label.remove {
color: red;
margin: 1px 2px;
}

form#excluded-dates, form#excluded-days, form#set_time_slots, form#assign_time_slots {
 position: relative;
}

.ui-dialog {
	z-index: 9999;
}